-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #e2e2e2;
  color: #000;
}

.content {
  max-width: 50em;
}

.img-flex {
  width: 100%;
}

img {
  width: 100%;
}
